language: android
jdk: oraclejdk8
sudo: required
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    # - tools
    # - platform-tools

    # The BuildTools version used by your project
    - build-tools-27.0.3
    - build-tools-28.0.2

    # The SDK version used to compile your project
    - android-27
    - android-28

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-27
    - addon-google_apis-google-28

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-armeabi-v7a-android-27
    - sys-img-armeabi-v7a-android-28
    - sys-img-armeabi-v7a-android-17

  licenses:
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
    - 'android-sdk-preview-license.+'
    - 'mips-android-sysimage-license.+'
script:
  - 'if [ "$TRAVIS_PULL_REQUEST" = false ]; then base64 --decode > app/google-services.json; else cp mock-google-services.json app/google-services.json; fi'
  - ./gradlew clean build
